fastapi==0.110.0
uvicorn==0.28.0
pydantic==2.6.4
python-multipart==0.0.9
python-dotenv==1.0.0
requests>=2.32.0
numpy<2.0.0
pandas
joblib
lightgbm
shap==0.45.1
scikit-learn==1.3.2
opencv-python-headless==4.9.0.80
inference-sdk==0.29.2
httpx
pytest
pyyaml
dvc
mlflow

